
body{
    
    background-repeat: no-repeat;
    background-size: cover;


}

blink {
    animation: 2s linear infinite condemned_blink_effect;
  }
  
  @keyframes condemned_blink_effect {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }



table{
    
    color: #070505;
    background-color: #f1f1f1;
    border-color: rgb(220, 14, 14);
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #050909f9;
    overflow-x: hidden;
    padding-top: 150px;
    transition: 0.5s;
}

.sidebar a {
    padding: 25px 25px 25px 25px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 1rem;
    cursor: pointer;
    background-color: hwb(195 18% 12%);
    color: white;
    padding: 5px 5px;
    border: none;
}

.openbtn:hover {
    background-color: #020405;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}